


<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Mobility Assessment</h3>
        <div class="box-tools">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action
            <span class="fa fa-caret-down"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="<%= edit_app_mobility_assessment_path(@mobility_assessment) %>">Edit</a></li>
            <li><a href="<%= app_mobility_assessment_path(@mobility_assessment) %>" data-confirm="Are you sure?" data-method="DELETE" >Delete</a></li>
          </ul>
        </div>
      </div>
      <div class="box-body">
        <p>
          <strong>Date:</strong>
          <%= @mobility_assessment.date.strftime("%A %v") %>
        </p>

        <p>
          <strong>Resident:</strong>
          <%= @mobility_assessment.resident&.full_name %>
        </p>

        <p>
          <strong>Author:</strong>
          <%= @mobility_assessment.author.try(:full_name) %>
        </p>


        </div>
      </div>
    </div>
  </div>
